<div class="ribbon">
	<!--<div class="page-title">{{'access.right' | translate}}</div>-->
	<div class="page-title">Venue Maintenance</div>
</div>
<div *ngIf="model" class="card">
	<div class="card-body">
		<form (ngSubmit)="onSubmit(myForm.controls)" #myForm="ngForm">
			<div class="form-group row">
				<label class="col-sm-2  col-form-label">Nama</label>
				<div class="col-sm-4">
					<input class="form-control" [(ngModel)]="model.nama" name="nama" required maxlength="50" minlength="4">
					<span *ngIf="formErrors.nama" class="validation-message">{{ formErrors.nama.key | translate:formErrors.nama.param}}</span>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2  col-form-label">Tempat</label>
				<div class="col-sm-4">
					<input class="form-control" [(ngModel)]="model.tempat" name="tempat" required maxlength="50" minlength="4">
					<span *ngIf="formErrors.tempat" class="validation-message">{{ formErrors.tempat.key | translate:formErrors.tempat.param}}</span>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2  col-form-label">Tanggal Awal</label>
				<div class="col-sm-4">
					<p-calendar class="form-control" name="tanggalAwal" [(ngModel)]="model.tanggalAwal" placeholder="dd-mm-yyyy"  dateFormat="dd-mm-yy" required></p-calendar>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2  col-form-label">Tanggal Akhir</label>
				<div class="col-sm-4">
					<p-calendar class="form-control" name="tanggalAkhir" [(ngModel)]="model.tanggalAkhir" placeholder="dd-mm-yyyy"  dateFormat="dd-mm-yy"></p-calendar>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2  col-form-label">Tipe Venue</label>
				<div class="col-sm-4">
					<select class="form-control" [(ngModel)]="model.typeVenue" name="typeVenue" required maxlength="50" minlength="4">
						<option >Event</option>
						<option >Wisata</option>
						<span *ngIf="formErrors.typeVenue" class="validation-message">{{ formErrors.typeVenue.key | translate:formErrors.typeVenue.param}}</span>
					</select>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Landscape Banner</label>
				<div class="col-sm-10">
					<div class="container-content content-center-column">
						<label class="hoverable" for="fileInput">
							<img style="max-width:300px;" [src]="smallBannerUrl">
						</label>
						<button type="button" class="btn bg-transparent text-danger"
								  title="Hapus" (click)="deleteAsset('small')"><i
								class="icon-trash-empty"></i></button>
						<br/>
						<input id="fileInput" type='file' (change)="onSelectFile($event, 'small')" hidden>
						<span style="font-style: italic; color: red;" [hidden]="smallBannerSelected" >*Harus menyertakan Landscape Banner (1914 x 765).</span>
					</div>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Portrait Banner</label>
				<div class="col-sm-10">
					<div class="container-content content-center-column">
						<label class="hoverable" for="fileInput2">
							<img style="max-width:300px;" [src]="bigBannerUrl">
						</label>
						<button type="button" class="btn bg-transparent text-danger"
								  title="Hapus" (click)="deleteAsset('big')"><i
								class="icon-trash-empty"></i></button>
						<br/>
						<input id="fileInput2" type='file' (change)="onSelectFile($event, 'big')" hidden>
						<span style="font-style: italic; color: red;" [hidden]="bigBannerSelected">*Harus menyertakan Portrait Banner (322 x 240).</span>
					</div>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-sm-2 offset-sm-2">
					<button class="btn btn-default" [disabled]="!myForm.form.valid || !smallBannerSelected || !bigBannerSelected" (click)="onSubmit()">{{'save' | translate}}</button>
					<a class="btn btn-default ml-2" routerLink="../">{{'back' | translate}}</a>
				</div>
			</div>
		</form>
	</div>
</div>