$card-spacer-y:                     .2rem !default;
$card-spacer-x:                     .5rem !default;
$font-size-base: 0.875rem !default;
$form-group-margin-bottom:              0.5rem !default;
$input-btn-padding-y:         .187rem !default;
$input-btn-padding-x:         .375rem !default;
$body-color:                #495057;
